@font-face {
    font-family: 'Raspoutine Classic';
    font-style: italic;
    font-weight: 400;
    src: local('Raspoutine Classic'), url('https://fonts.cdnfonts.com/s/8611/RaspoutineClassic_TB.woff') format('woff');
}

@font-face {
    font-family: 'Ballet';
    font-style: normal;
    font-weight: 400;
    src: local('Ballet'), url('https://fonts.cdnfonts.com/s/107471/Ballet[opsz].woff') format('woff');
}

@font-face {
    font-family: 'Luminari';
    font-style: normal;
    font-weight: 400;
    src: local('Luminari'), url('https://fonts.cdnfonts.com/s/14476/Luminari-Regular.woff') format('woff');
}

body {
    font-family: Raspoutine Classic;
    background-color: lightgoldenrodyellow;
    margin-top: 0px;
}

h1 {
    font-size: 45px;
    margin-bottom: 0px;
    font-family: Ballet;
}

h2 {
    margin-bottom: 0px;
    font-size: 30px;
}

h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Ballet;
    font-size: 20px;
}

.line {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 0px;
}

.inspringing1 {
    margin-left: 10px;
}


.Orde1 {
    font-size: 25px;
}

.Orde2 {
    font-size: 20px;
}

img {
    max-width: 250px;
    max-height: 200px;
}

footer {
    font-family: Luminari;
}